<?xml version="1.0" encoding="UTF-8" ?>
<persistence xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
             version="2.0" xmlns="http://java.sun.com/xml/ns/persistence">
    <persistence-unit name="TopologyProvider" transaction-type="RESOURCE_LOCAL">
        <class>com.topology.impl.db.primitives.TEPropertyDBImpl</class>
        <class>com.topology.impl.db.primitives.TopologyElementDBImpl</class>
        <class>com.topology.impl.db.primitives.NetworkElementDBImpl</class>
        <class>com.topology.impl.db.primitives.ConnectionPointDBImpl</class>
        <class>com.topology.impl.db.primitives.PortDBImpl</class>
        <class>com.topology.impl.db.primitives.ConnectionDBImpl</class>
        <class>com.topology.impl.db.primitives.LinkDBImpl</class>
<!--        <class>com.topology.impl.db.primitives.TrailDBImpl</class> -->
        <class>com.topology.impl.db.primitives.CrossConnectDBImpl</class>
        <class>com.topology.impl.db.primitives.properties.TEPropertyKeyDBImpl</class>
        <class>com.topology.impl.db.primitives.TopologyManagerDBImpl</class>
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <properties>
            <property name="javax.persistence.jdbc.url" value="jdbc:postgresql://localhost:5432/topology_provider" />
            <property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver" />
            <property name="javax.persistence.jdbc.user" value="@POSTGRES_USER@" />
            <property name="javax.persistence.jdbc.password" value="@POSTGRES_PASSWORD@" />
            <property name="eclipselink.target-database" value="POSTGRESQL"/>


            <!-- EclipseLink should create the database schema automatically -->
<!--            <property name="eclipselink.ddl-generation" value="create-or-extend-tables" />
            <property name="eclipselink.ddl-generation.output-mode" value="database" />;
            <property name="eclipselink.create-ddl-jdbc-file-name" value="createDDL_ddlGeneration.jdbc" />
            <property name="eclipselink.drop-ddl-jdbc-file-name" value="dropDDL_ddlGeneration.jdbc" />
            <property name="eclipselink.ddl-generation.index-foreign-keys" value="true"/>;
            -->
            <property name="eclipselink.logging.logger" value="com.topology.db.utils.logging.SLF4jCustomLog"/>
            <property name="eclipselink.logging.level" value="INFO" />
        </properties>
    </persistence-unit>
</persistence>